@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 16px; /* tamaño de la fuente define al espaciado*/
}

body {
  margin: 0%;
  padding: 0%;
}

:root {
  --gris-oscuro: #24282f;
  --amarillo: #ff9800;
}

/*familia de tipografia*/
:root {
  --tipografia: "Roboto Slab", serif;
}
